
  /* Modern Fade In */
  @keyframes modernFadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .modern-fade-in {
    display: inline-block;
    opacity: 0;
    animation: modernFadeIn 0.8s ease-in-out forwards;
  }
  
  /* Modern Button Hover Effect */
  .modern-button {
    animation: modernFadeIn 1.2s ease-in-out forwards;
    transform: perspective(1px) translateZ(0); /* Enable GPU acceleration */
    will-change: transform;
  }
  
  .modern-button:hover {
    transform: scale(1.05);
    background-image: linear-gradient(to right, #5a67d8, #805ad5);
    box-shadow: 0px 5px 15px rgba(128, 90, 213, 0.4);
  }
  
  /* Folder Card Hover Effect */
  .folder-card {
    transform: scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .folder-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
  }
  
  /* Responsive Typography */
  h1 {
    font-weight: 700;
    line-height: 1.2;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  @media (min-width: 768px) {
    p {
      font-size: 1.25rem;
    }
  }
 
  @keyframes folder-slide-in {
    0% {
      transform: translateY(50px) scale(0.95);
      opacity: 0;
    }
    50% {
      transform: translateY(15px) scale(1);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }
  
  .folder-slide-animation {
    animation: folder-slide-in 1s ease-out forwards;
  }
  