/* JoinSection.css */

@keyframes blueGradient {
  0% {
    opacity: 0.0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.0;
  }
}

.animate-blue-gradient {
  background: linear-gradient(to top, rgba(8, 8, 233, 0.53), transparent);
  animation: blueGradient 3s ease-in-out infinite;
}

/* JoinSection.css */

/* Existing styles... */

.backgroundImage {
  width: 100%;
  height: 100%;
  background-image: url("https://tokengaming.fra1.cdn.digitaloceanspaces.com/packages/media/theme/tokengaming/banners/landing-hero-desktop.webp");
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* Styles for devices smaller than 1223px */
@media (max-width: 1260px) {
  .backgroundImage {
    z-index: 0;
    height: 70%;
    background-image: url(/monkey.png) !important;
    background-size: cover !important;
  }
}
