.neon-line {
  box-shadow: 0 0 3px #3E5AD1, 0 0 3px #3E5AD1, 0 0 3px #3E5AD1;
  transform-origin: center;
}

.rotate-positive {
  transform: rotate(3deg);
}

.rotate-negative {
  transform: rotate(-3deg);
}