.neon-line {
  box-shadow: 0 0 3px #3e5ad1, 0 0 3px #3e5ad1, 0 0 3px #3e5ad1;
  transform-origin: center;
}

.rotate-positive {
  transform: rotate(3deg);
}

.rotate-negative {
  transform: rotate(-3deg);
}

.main-font {
  font-family: "Archivo Black";
  font-weight: 600;
}

.cards {
  border-radius: 10px;
  border: 1px solid var(--Teal-Blue, #2c343d);
  background: #1e2227;
  box-shadow: -4px -4px 11px 0 hsla(0, 0%, 100%, 0.06),
    4px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

@keyframes spin-once {
  0% {
    transform: rotateY(0deg) scale(1);
  }
  25% {
    transform: rotateY(180deg) scale(1.2);
  }
  50% {
    transform: rotateY(360deg) scale(1);
  }
  100% {
    transform: rotateY(360deg) scale(1);
  }
}

.spade-symbol {
  font-size: 20rem;
  animation: spin-once 5s ease-in-out infinite;
  animation-delay: 1.5s;
  color: transparent;
  position: relative;
  text-shadow: 0 0 180px rgba(255, 255, 255, 0.6);
  display: inline-block;
  padding-bottom: 2rem;
}

.spade-symbol svg path {
  fill: url(#spade-gradient); /* Link to the gradient defined in SVG */
}

@media (max-width: 380px) {
  .spade-symbol {
    font-size: 20rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
@media (max-width: 380px) {
  .resizetext {
    text-align: center;
    font-size: 2rem;
  }
}
@media (max-width: 380px) {
  .smalldevice {
    display: none;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slide-in 1.5s ease forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.slide-in-pulse {
  animation: slide-in 1.5s ease forwards, pulse 0.5s ease forwards;
  animation-delay: 0s, 4s; /* Start pulse after slide-in is complete */
}

.shadowtitle {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
}

.zoom-in-out {
  display: inline-block;
  animation: zoomInOut 1s ease-in-out forwards;
  animation-fill-mode: forwards;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.wave-text {
  display: inline; /* Ensures wrapping for the entire text */
  white-space: normal; /* Allows text to wrap naturally */
}

.wave-word {
  display: inline-block; /* Ensures words remain intact as units */
}

.wave-letter {
  display: inline-block; /* Animates each letter individually */
  animation: waveEffect 0.5s ease-in-out forwards;
}

@keyframes waveEffect {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.zoom-in-out-button {
  animation: zoomInOutButton 2s ease-in-out forwards;
}

@keyframes zoomInOutButton {
  0%,
  100% {
    transform: scale(1);
  }
  25%,
  75% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.8);
  }
}
@media (max-width: 380px) {
  .zoom-in-out-button {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; 
    
   
  }
}
